{% extends 'base.html.twig' %}

{% block body %}

	<div class="col-12">
		<h4 class="text-center mb-3 mt-5" id="commande">Félicitation votre commande est enregistré</h4></br>
		<p id="validation">Nous vous remercions pour votre commande, celle-ci vous sera envoyée dans un délai de 15 jours avec collisimo.</br>
		Pour plus d'information veuillez nous <a href="/monsite/contact">contact</a>
		</p>
	</div>
{% endblock %}