{% extends 'base.html.twig' %}

{% block body %}
	<div class="col-12 apropos">
		<h1 id="propos">Mieux me connaître</h1>
		<p id="presentation">A travers ma boutique, découvrez des produits cosmétiques de haute qualité conçu en Espagne par Postquam et reconnu dans le monde pour leur efficacité.<br/><br/>
		Inaccessible à tous vu leurs prix exorbitant, je vous offre la possibilité de vous offrir ses produits de luxe à prix doux.<br/><br/>
		Ayant testé pour vous tous les produits mis en vente, je peux assurer un réel résultat et leurs efficacités.<br/><br/>
		Nantaise! Profitez d'un soin gratuit à l'Or à votre domicile : Contactez-moi pour plus d'information.</p>
	</div>

{% endblock %}