
html {
	min-height: 100%;
	position: relative;
}
body{
	margin: 0;
	width: 100%;
	height: 100%;
}
nav{
	margin-bottom: 10px;
	background-color: black;	
}
.nav-item{
	font-family: 'Roboto Condensed', sans-serif;
	color: white;
}
.nav-link{
	color: white !important;
}
.nav-link.active{
	color: #c6910c!important;
}
.logo{
	margin-right: 7%;
}
.btn-primary{
	background-color: #D88B07;
	border-color: black;
}
.container-fluid{
	margin-bottom: 200px;
}
.footer {
  position: absolute; 
  bottom: 0;
/*  margin-top: 35%;*/
  width: 100%;
  /* Set the fixed height of the footer here */
  /*height: 100px;*/
  line-height: 20px; /* Vertically center the text there */
  background-color: black;
}
h1{
	font-weight: bolder;
	font-family:'Roboto', sans-serif;
	font-size: 44px;
	margin-top: 3%;
	margin-bottom: 1%;
	margin-left: 3%;
}
h2{
	font-weight: bolder;
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	margin-top: 3%;
}
h3{
	margin-top: 10%;
	text-align: center; 
	font-size: 54px;
	font-weight: bolder;
	font-family:  'Roboto', sans-serif;
	color: #D88B07;
}
h6{
	font-family: 'Roboto', sans-serif;
}
p{
	font-family: 'Taviraj', serif;
}

/*page accueil*/
.produit{
	align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    display: flex;
   	flex-wrap: wrap;
}
.produit .details{
	display: block;
	width: 100%;
	color: #D88B07;
}
#bouttona{
	color: red !important;
	display: block;
	width: 100%;
}
	
#imgpostquam{
	margin-top: 6%;
	padding-left: 15%;
}
#postquam{
	padding-right: 7%;
	margin-top: 6%;
	font-family: 'Roboto Condensed', sans-serif;
}

/*shop*/

.shop{
	color: #D88B07;
	font-size: 20px;
}
.imgshop{
	margin-top: 8%!important;
	width: 60%;
	margin-left: 3%;
}
.divshop{
	margin-right: 8% !important;
}

/*page a propos*/
.apropos{
	margin: auto;
}
#propos{
	margin-top: 5%;
	margin-bottom: 4%;
	text-align: center; 
	font-size: 44px;
	color: #D88B07;
	font-weight: bolder;
	font-family:  'Taviraj', serif;
}
#presentation{
	margin-top: 8%;
	margin-left: 4%;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	text-align: justify-all;
}

/*page contact*/
#form{
	margin-top: 10%;
	text-align: center; 
	font-size: 54px;
	font-weight: bolder;
	font-family:  'Taviraj', serif;
	color: #D88B07;
}
form {
	margin: auto;
	/*margin-bottom: 45%;*/

}
label{
	font-family: 'Taviraj', serif;
	font-weight: bold;
	font-size: 20px;
	color: black;
	margin-left: 15%;
	padding-top: 4%;
}
.form-control{
	width: 40%;
	margin-left: 15%;
}
#button{
	margin-left: 50%;
	margin-top: 4%;
	background-color: #D88B07;
	font-family: 'Taviraj', serif;
}

